Summerschool/
Results/

MetricGeometry/RepeatedSubsampling/FirstLowerBoundRelationOfPosAndNeg/cmakeBin/

data/old/

PCL/

MasterThesis.pdf


QuickStart/ModelTrain/Proteins/
QuickStart/ModelTrain/bestModel/
QuickStart/ModelTrain/RepeatedSubSampling/

QuickStart/Test/Proteins/

QuickStart/Predictions/


data/106Model/
data/MNist/
data/nonRigidWorld/

data/ModelNet10/
data/animals/

data/ModelNet10.zip
data/ObjectNet3D_cads.zip
data/ObjectNet3D_cads/
data/psb_db0-3.zip
data/psb_db0-3/


data/__MACOSX/ModelNet10/
data/120Experiment/
data/Final_120_pdbs/
data/120Test/

packages/

data/Final_120_pdbs_20181024/
